@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --real-color: #3A68B8;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: #0a1220;
    color: white;
}

/* NAVBAR */

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

header {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navbar {
    display: none;
}

.navbar a {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #fff;
    padding: 7px;
    margin: 0 7px;
    border-radius: 5px;
    transition: 0.9s;


}

.navbar a:hover {
    transform: scale(1.2);
    background-color: var(--real-color);
    color: #fff;
}


.signin {
    background: var(--real-color);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    border-color: #3A68B8;
    font-size: 16px;
    transition: 0.9s;
    width: 80px;
}

.signin:hover {
    transform: scale(1.1);
    background-color: red;
    border-color: red;
    box-shadow: 2px;
}


@media(min-width:766px) {
    .fa-bars {
        display: none !important;
    }

    .navbar {
        display: block;
    }
}

/* FIRST SECTION */

.introduction-section {
    display: flex;
    flex-direction: column;
}

.introduction-section h6 {
    color: var(--real-color);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 15px;

}

.introduction-section .left-side h1 {
    font-size: 2rem;
    text-align: center;

}

.introduction-section .left-side p {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    line-height: normal;
    text-align: center;
    margin: 40px 5px;
}

.butonlar {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;

}

.butonlar button {
    background: var(--real-color);
    border-color: transparent;
    color: #fff;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 16px;

}

.butonlar button:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.introduction-section .right-side {
    width: 320px;
    margin: 30px auto;
}

.introduction-section .right-side img {
    width: 100%;
}

.bottom-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.items-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-list .item {
    padding: 10px;
    transition: .5s ease all;
}

.bottom-list .item:hover {
    transform: scale(1.1);
}


/* SECOND SECTION */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section .second-page-1 {
    width: 300px;
    margin: 25px 5px;
}

.second-section .second-page-1 img {
    width: 100%;
}

.second-section .second-page-texts h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

.second-section .second-page-texts h6 {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    line-height: normal;
    text-align: center;
    margin: 20px 5px;
    border-color: transparent;
}

.second-section button {
    background: var(--real-color);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    left: 33%;
    top: 10px;

}

/* section kublar */
section.bloklar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;


}

section.bloklar .blok {
    height: 340px;
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.08);
    transition: .8s ease all;
    cursor: pointer;
}

section.bloklar .blok:hover {
    box-shadow: 0px 0px 10px 1.3px rgba(255, 255, 255, 0.5);

}

section.bloklar .blok h4 {
    opacity: 0.7;
}

/* our solutions section   */

.our-solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}

.our-solutions .our-solutions-left-side h1 {
    text-align: center;
    font-size: 28px;
}

.our-solutions .our-solutions-left-side p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #ccc;
}

.our-solutions .our-solutions-right-side {
    width: 290px;
}

.our-solutions .our-solutions-right-side img {
    width: 100%;
    padding-top: 20px;
}

/* FOOTER  */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
    margin-bottom: 40px;
}


footer .links {
    text-align: left;
    padding-left: 10px;
}

footer .links img {
    width: 230px;
}

footer .links p {
    font-size: 17px;
    color: #ccc;
}

footer .links p a {
    color: #fff;
    font-size: 18px;
    padding-left: 5px;
    list-style: none;
    text-decoration: none;
}

footer .links p span {
    font-size: 16px;
}

footer .links p a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

footer .texts h1 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

footer .texts p {
    color: #ccc;
    font-size: 14px;
    text-align: left;
}

footer .social h1 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

footer .social p {
    text-align: left;
    color: #ccc;
    font-size: 16px;
}

footer .social a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}

footer .social a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

footer .social i {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;

}

footer .social label {
    font-size: 16px;
    margin: 0 5px;
}


/*  Responsive design for the TABLE */

@media(min-width:766px) and (max-width:920px) {

    /* navbar responsive for the table */
    .logo {
        width: 300px;
    }

    .logo img {
        width: 100%;
    }

    .navbar {
        width: 600px;
        display: block;
    }

    /* first section responsive for the table */
    .introduction-section {
        flex-direction: row;
    }

    .introduction-section .left-side {
        max-width: 350px;
        max-height: 300px;
    }

    .introduction-section h6 {

        font-size: 18px;
        text-align: left;
        margin-top: 30px;
        margin-left: 40px;
    }

    .introduction-section .left-side h1 {
        font-size: 2rem;
        text-align: left;
        margin-left: 30px;

    }

    .introduction-section .left-side p {
        font-size: 20px;
        text-align: left;
        margin: 20px 30px;

    }

    .butonlar {
        display: flex;
        justify-content: left;
        gap: 20px;
        margin: 20px 30px;
    }

    .introduction-section .right-side {

        width: 550px;
        margin: 30px auto;
        position: relative;
        top: 50px;
    }


    .introduction-section .right-side img {
        width: 100%;
    }

    .bottom-list {
        flex-direction: row;
        margin-top: 90px;
        justify-content: space-evenly;
    }

    /* second section resposive for the table */

    .second-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .second-section .second-page-1 {
        width: 600px;
        margin: 25px 15px;
    }

    .second-section .second-page-1 img {
        width: 100%;
    }

    .second-section .second-page-texts {
        padding: 30px;
    }

    /* section bloklar */

    section.bloklar {
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;

    }

    section.bloklar .blok {
        margin: 10px;
        width: 350px;
    }

    section.bloklar .blok h4 {
        font-size: 18px;
    }

    /* our solutions section */
    .our-solutions .our-solutions-left-side h1 {
        text-align: center;
        font-size: 60px;
    }

    .our-solutions .our-solutions-left-side p {

        font-size: 26px;
    }

    .our-solutions .our-solutions-right-side {
        width: 600px;
        padding-top: 40px;
    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    footer .footer-list h1 {
        font-size: 30px;
    }
    footer .footer-list p,i,a{
        font-size: 20px;
    }
    .footer-list .fa-solid{
        font-size: 23px;
    }
    .social a{
        font-size: 90px;
    }
}


/* Responsive design for the LAPTOP */

@media(min-width:921px) {

    /* navbar responsive for the laptop */
    .logo {
        width: 380px;
    }

    .logo img {
        width: 100%;
    }

    /* first section resposive for the laptop */

    .introduction-section {
        flex-direction: row
    }

    .introduction-section h6 {
        font-size: 18px;
        text-align: left;
        margin-left: 40px;
    }

    .introduction-section .left-side h1 {
        font-size: 50px;
        text-align: left;
        margin-left: 40px;

    }

    .introduction-section .left-side p {
        font-size: 18px;
        text-align: left;
        margin-left: 40px;

    }

    .introduction-section .right-side {
        width: 500px;
        margin: 30px auto;
    }

    .introduction-section .right-side img {
        width: 100%;
    }

    .butonlar {
        justify-content: flex-start;
        margin-left: 40px;
    }

    .bottom-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .bottom-list .items-1 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .bottom-list .items-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    /* second section resposive for the laptop */

    .second-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .second-section .second-page-1 {
        width: 500px;
        margin: 30px 40pxpx;
    }

    .second-section .second-page-1 img {
        width: 100%;
    }

    .second-section .second-page-texts h1 {
        font-size: 40px;
        text-align: left;
        margin: 10px;
    }

    .second-section .second-page-texts h6 {
        font-size: 16px;
        text-align: left;
        margin: 30px 10px 10px 10px;

    }

    .second-section button {
        position: relative;
        left: 10px;

    }

    /* section bloklar */
    section.bloklar {
        flex-direction: row;
        justify-content: space-around;
        width: 100wh;
    }

    section.bloklar .blok {
        width: 209px;

    }

    section.bloklar .blok h2 {
        font-size: 16px;
    }

    section.bloklar .blok h4 {
        font-size: 14px;
        opacity: 0.4;
    }

    /* our solutions resposive for the laptop */
    .our-solutions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 60px;
    }

    .our-solutions .our-solutions-left-side h1 {
        text-align: left;
        font-size: 42px;
    }

    .our-solutions .our-solutions-left-side p {
        text-align: left;
        font-size: 18px;
    }

    .our-solutions .our-solutions-right-side {
        width: 600px;
    }

    .our-solutions .our-solutions-right-side img {
        width: 100%;
        padding-top: 40px;
    }
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    footer .texts{
        margin-top: 80px;
    }
    footer .social{
        margin-top: 80px;
    }
    footer .social h1{
        text-align: left;
    }

}